<a href="https://colab.research.google.com/github/kartikgandhi/Cross-Project-Hard-Voting-Edited-Dataset/blob/main/Cross_Project_HV_train_zk%2Btest_mpxj.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [729]:
from numpy import mean
from numpy import std

In [730]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [731]:
from sklearn.svm import SVC
from sklearn.ensemble import VotingClassifier

In [732]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [733]:
#file to initalize the weights from
weights = pd.read_csv("/content/gdrive/MyDrive/Edited Datasets/Edited-zk 8.5.0 - zk 8.5.0.csv")

In [734]:
weights['change'] = weights['change'].map({'YES': 1, 'NO': 0})

In [735]:
weights.shape

(1078, 8)

In [736]:
weights.head()

   CBO  NOC  RFC  LOC  DIT  LCOM  WMC  change
0    4    0  136   21    2    75    5       1
1    6    0    2   21    1     0   10       1
2    6    0    3   26    1     0    8       0
3    5    0    3   24    1     0    8       0
4   10    0    3   52    1     0   12       0

In [737]:
X = weights.drop('change', axis=1)
y = weights['change']

In [738]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
# split the full train set into train and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=1)

In [739]:
# get a list of base models
def get_models():
	# define the base models
	models = list()
	models.append(('lin', SVC(probability=True, kernel='linear')))
	models.append(('rbf', SVC(probability=True, kernel='rbf')))
	models.append(('poly', SVC(probability=True, kernel='poly')))
	return models

In [740]:
# evaluate each base model
def evaluate_models(models, X_train, X_val, y_train, y_val):
	# fit and evaluate the models
	scores = list()
	for name, model in models:
		# fit the model
		model.fit(X_train, y_train)
		# evaluate the model
		yhat = model.predict(X_val)
		acc = accuracy_score(y_val, yhat)
		# store the performance
		scores.append(acc)
		# report model performance
	return scores

In [741]:
# create the base models
models = get_models()
# fit and evaluate each model
scores = evaluate_models(models, X_train, X_val, y_train, y_val)
print(scores)

[0.8820224719101124, 0.8848314606741573, 0.8848314606741573]

In [742]:
data = pd.read_csv("/content/gdrive/MyDrive/Edited Datasets/Edited-mpxj 8.0 - mpxj 8.0.csv")

In [743]:
data['change'] = data['change'].map({'YES': 1, 'NO': 0})

In [744]:
data.shape

(821, 8)

In [745]:
data.head()

   CBO  NOC  RFC  LOC  DIT  LCOM  WMC  change
0    1    0    5   29    1    60    5       0
1    0    0   10    3    3     0    0       0
2    1    0    8   43    1    70    8       0
3    2    8   21  792    1     0    5       0
4   13    0   23  292    1    83   44       1

In [746]:
X = data.drop('change', axis=1)
y = data['change']

In [747]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [748]:
# create the ensemble
ensemble = VotingClassifier(estimators=models, voting='hard', weights=scores)
# fit the ensemble on the training dataset
ensemble=ensemble.fit(X_train, y_train)
# make predictions on test set
yhat = ensemble.predict(X_test)

In [749]:
# evaluate predictions
score = accuracy_score(y_test, yhat)
print('Weighted Avg Accuracy: %.3f' % (score*100))

Weighted Avg Accuracy: 81.818

In [750]:
print(yhat)

[0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0]

In [751]:
from sklearn.metrics import classification_report, confusion_matrix
cm=confusion_matrix(y_test,yhat)
print(cm)

[[124   0]
 [ 30  11]]

In [752]:
# predict probabilities
# from sklearn.metrics import roc_auc_score
# pred_prob = ensemble.predict_proba(X_test)
# auc_score = roc_auc_score(y_test, pred_prob[:,1])
# print("Area Under Curve=")
# print(auc_score)

In [753]:
from sklearn.metrics import matthews_corrcoef
mcc=matthews_corrcoef(y_test,yhat)
print("Matthews correlation coefficient=")
print(mcc)

Matthews correlation coefficient=
0.46478798883411343

In [754]:
from sklearn.metrics import balanced_accuracy_score
bac=balanced_accuracy_score(y_test, yhat)
print("Balanced Accuracy Score=")
print(bac)

Balanced Accuracy Score=
0.6341463414634146

In [755]:
from imblearn.metrics import geometric_mean_score
gmean=geometric_mean_score(y_test, yhat)
print("Geometric Mean Score=")
print(gmean)

Geometric Mean Score=
0.5179697702828122

In [756]:
print(classification_report(y_test,yhat))

              precision    recall  f1-score   support

           0       0.81      1.00      0.89       124
           1       1.00      0.27      0.42        41

    accuracy                           0.82       165
   macro avg       0.90      0.63      0.66       165
weighted avg       0.85      0.82      0.78       165